@import "_bootstrap.scss";
@import "includes/core-mixins";

@import "pages/volume";
@import "pages/chapter";

@include margins;
@include images;

body {
  @include main-body;
}

.card {
  @include card;
}

a {
  color: $primary-color;
}

/* Navbar */
#navbar .nav-btn:hover,
#navbar .nav-btn.active:hover {
  background: $primary-color-light;
  color: $white;
}

#navbar .nav-btn.active {
  background: $primary-color;
  color: $white;

}

#navbar .navbar-brand,
#navbar .navbar-nav .nav-btn {
  line-height: 30px;
  height: 60px;
}



