@import "_bootstrap.scss";
@import "includes/core-mixins";
@import "includes/quill";
@import "pages/light_novel";
@import "pages/volume";
@import "pages/chapter";

@include main-body;
@include card;

//utilities
@include links;
@include one-line;
@include images;
@include margins;

body {
  &.modal-open {
    overflow-y: hidden;
  }
}
#app {
  min-height: 100vh;
  position: relative;
  padding-bottom: 150px;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: $white;
  height: 100px;
  text-align: center;
  -webkit-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);

  .contact-email {
    margin-top: 15px;
    display: inline-block;
  }

  .social-buttons {
    margin-top: 10px;
    display: inline-block;
  }
}

/* Navbar */
#navbar {
  border-bottom: none;
}

#navbar .navbar-nav {
  margin: 0 -15px;
  border-bottom: 1px solid $border-gray;
}

#navbar .nav-btn:hover,
#navbar .nav-btn.active:hover {
  background: $primary-color-light;
  color: $white;
}

#navbar .nav-btn.active {
  background: $primary-color;
  color: $white;
}

#navbar .navbar-header {
  border-bottom: 1px solid $border-gray;
}

#navbar .navbar-brand,
#navbar .navbar-nav .nav-btn {
  line-height: 30px;
  height: 60px;
}

@media (min-width: $grid-float-breakpoint) {
  #navbar {
    border-bottom: 1px solid $border-gray;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.09);
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.09);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.09);
  }

  #navbar .navbar-nav {
    margin: 0;
    border-bottom: none;
  }

  #navbar .navbar-header {
    border-bottom: none;
  }
}

