@import "_bootstrap.scss";
@import "includes/core-mixins";
@import "includes/quill";

@import "pages/light_novel";
@import "pages/volume";
@import "pages/chapter";

@include margins;
@include images;

body {
  @include main-body;

  &.modal-open {
    overflow-y: hidden;
  }
}

.card {
  @include card;
}

a {
  color: $primary-color;
}

/* Navbar */
#navbar {
  border-bottom: none;
}

#navbar .navbar-nav {
  margin: 0 -15px;
  border-bottom: 1px solid $border-gray;
}

#navbar .nav-btn:hover,
#navbar .nav-btn.active:hover {
  background: $primary-color-light;
  color: $white;
}

#navbar .nav-btn.active {
  background: $primary-color;
  color: $white;
}

#navbar .navbar-header {
  border-bottom: 1px solid $border-gray;
}

#navbar .navbar-brand,
#navbar .navbar-nav .nav-btn {
  line-height: 30px;
  height: 60px;
}

@media (min-width: $grid-float-breakpoint) {
  #navbar {
    border-bottom: 1px solid $border-gray; 
  }

  #navbar .navbar-nav {
    margin: 0;
    border-bottom: none;
  }
  
  #navbar .navbar-header {
    border-bottom: none;
  }
}

