<!DOCTYPE html>
<html>
    <head>
        <meta name="description" content="The best place for all your otaku needs. Read light novels, search up anime, manga and organize them into your favorites">
        <meta charset="UTF-8" />
        <title>{{{title}}}</title>
        <link href='https://fonts.googleapis.com/css?family=Noto+Sans' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
        <link rel='stylesheet' href='/stylesheets/app.css'/>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    </head>
    <body>
        {{{body}}}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/marked/0.3.2/marked.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/js/bootstrap.min.js"></script>
        <script type='text/javascript' src='/javascripts/bundle.js'></script>
    </body>
</html>
