.chapters-list {
  overflow: hidden;
}

#chapterNew {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding-top: 25px;
  padding-left: 15px;
  padding-right: 15px;
  background: #f8f8f8;
  overflow-y: scroll;
  z-index: 1032;
  
  
  .quill {
    border: 1px solid #ccc;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
  }
  
  .quill-toolbar {
    border-bottom: 1px solid #e6e6e6;
  }

  .quill-contents {
    height: 250px;
    height: 50vh;
  }
}

#chapterShow {
  line-height: 1.6;
}

.chapter-show-header {
  border-bottom: 1px solid $border-gray;
}
