#lightNovel {
  .summary {
    border-top: 1px solid $border-gray;
    margin-top: 10px;
    padding-top: 10px;
  }
}

#lightNovelList {
  .title-wrapper{
    height: 40px;
    margin: 5px;
    position: relative;

    .title {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 100%;
      -webkit-transform: translateX(-50%) translateY(-50%);
      -moz-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
      -o-transform: translateX(-50%) translateY(-50%);
      transform: translateX(-50%) translateY(-50%);
    }
  }
}