.volume-item {

  .volume-toggle {
    margin: -15px;
    padding: 15px;

    &:hover {
      cursor: pointer;
    }
  }

  .chapters-list {
    height: 0;
  }

  &.open .chapters-list{
    height: 100%;
  }
}
