@import "../bootstrap/_variables.scss";
@import "../bootstrap/mixins/_clearfix.scss";
/* List */
.list {
  @include clearfix;

  .list-item {
    float: left;
    width: 100%;
    margin-bottom: 15px;
    padding: 15px;
  }
}

@media screen and (min-width: $screen-sm-min) {
  .list {
    margin-left: -3%;

    .list-item {
      width: 30.3333%;
      margin-left: 3%;
    }
  }
}

@media screen and (min-width: $screen-md-min) {
  .list {
    margin-left: -2%;

    .list-item {
      width: 23%;
      margin-left: 2%;
    }
  }
}